<!DOCTYPE html>
{% assign lang_attribute = page.lang | default: site.langs[0] | default: 'en' %}
<html lang="{{ lang_attribute }}">
  <head>
    {% assign page_title = page.seo.title | default: page.title %}
    {% assign title_text = page_title %}
    {% if site.title %}
      {% if title_text %}
        {% assign title_text = title_text | append: " | " | append: site.title %}
      {% else %}
        {% assign title_text = site.title %}
      {% endif %}
    {% endif %}
    {% assign title_text = title_text | default: site.title | truncate: 70, "" %}
    <title>{{ title_text }}</title>
    {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    {% if page.layout == "post" %}
      {% assign main_class = "post-content" %}
    {% else %}
      {% assign main_class = "page-content" %}
    {% endif %}
    <main class="{{ main_class }}" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
